P{color: rgb(0, 0, 0);}
    P{font: 1em sans-serif;}
    P{text-align: center;}

    h1{font-family: 'Times New Roman'; font-size: 40px; color: brown;text-align: center;}
body{text-align: center;}
    h2{font-family: 'Times New Roman'; font-size: 25px}

    ol{text-align-last: left;font-size: 20px;font-family: 'Times New Roman';}

    