P{color: rgb(0, 0, 0);}
    P{font-family: 'Times New Roman';text-align: center;}

    h1{font-family: 'Times New Roman'; font-size: 40px; color: brown;text-align: center;}

    h2{font-family: 'Times New Roman'; font-size: 25px; text-align: center;}

    ol{text-align-last: left;font-size: 20px;font-family: 'Times New Roman';}


#oi{position: fixed;
    top: 30px;
    left: 30px;
    font-size: 20px;
    font-family: 'Times New Roman';}

.subtópico{color: rgb(0, 0, 0);
    background-color: rgb(71, 218, 218);
    text-align: center;}

#ki{color: blue;}
    
body{background-color:rgb(255, 251, 202) ; padding: 10px;min: width 600px;max-width: 1800px;min-height:380px;max-height: 700px;}

.Produtos{font-size: 30px;}

#maisopções{font-size: 20px;}

#mudarpg{font-size: 30px; color: rgb(255, 0, 0);}

footer{font-size: 25px;}